.header {
    padding: 10px;
    background-color:aquamarine;
}
.row {
    display: flex;
}
.column {
    flex: 1;
    min-height: 150px;
    min-width: 150px;
    max-height: 150px;
    max-width: 150px;
    padding: 10px;
}
.footer {
    padding: 10px;
    background-color:aquamarine;
}
#jacob.column {
    display: flex;
    
}
#jessna.column {
    display: flex;
}
#javon.column {
    display: flex;
}
#chris.column {
    display: flex;
}
#damian.column {
    display: flex;
}
.linkImg{
    height: 50%;
    width: 50%;
}