.header {
    padding: 10px;
    background-color:aquamarine;
}
.row {
    display: flex;
}
.column {
    flex: 1;
    min-height: 100px;
    max-height: 500px;
    
    min-width: 100px;
    max-width: 500px;
    padding: 10px;
    margin:10px;
}
.footer {
    padding: 10px;
    background-color:aquamarine;
}
#jake.column {
    display: flex;
    background-color: red;
}
#jessna.column {
    display: flex;
    background-color: blue;
}
#javon.column {
    display: flex;
    background-color: blue;
}
#chris.column {
    display: flex;
    background-color: grey;
}
#damian.column {
     display: flex; 
    background-color: aqua;
    background-size: contain;
    background-repeat: no-repeat;
}
#damian.column:hover {
     display: flex; 
    background: repeating-linear-gradient(
      45deg,
      yellow 0px,
      yellow 40px,
      black 40px,
      black 80px
    );
}
.linkImg{
    height: 50%;
    width: 50%;
}

.content {
    padding-top: 10px;
    color: white;
    padding: 20px;
}