@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html {
    overflow-y:scroll
}

html, body {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    background-color: #eee;
}

ul {
    list-style: none;
	margin-left: 0;
	padding-left: 0;
}

nav ul {
    display: inline-block;
}

nav ul li a {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}

label {
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}

.Title {
    font-size: 40px;
    color: rgb(42, 126, 175);
}

.thick-green-round-border {
    border-color: green;
    border-width: 10px;
    border-style: ridge;
    border-radius: 50%;
}

.ListBoxes{
    Background-color: green;
    padding: 20px 20px 20px 20px !important;
}

li {
    background-color: #85d1eb;
    padding: 5px 10px;
    margin: 0;
    display: inline-block;
}

a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: #667;
}

a:hover {
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.row {
    display: flex;
}

.column {
    min-width: 10%;
    max-width: 100%;
    min-height: 5%;
    max-height: 100%;
    margin: 10px;
}

#HeresACustomIDBecauseDanWontAllowInlineStyles {
    width: 100%;
}

#AnotherIDThatShouldBeAnInlineStyle {
    width: 75%;
}

#JessnaSelfie {
    background-image: url('image/jessna.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

#nestedTable {
    display: inline-block;
}

#submitButton {
    padding: 10px 18px;
    border: none;
    background: linear-gradient(270deg, #eeb62c, #2ceee7, #d32cee);
    background-size: 200% 200%;
    cursor: pointer;
    color: white;
}

#JessnaAttributeDiv {
    width: 900px;
    margin: auto;
}

#JessnaAttributeDiv input {
    padding: 4px;
    width:150px;
}

.JessnaHeader {
    font-family: 'Bangers', cursive;
}

.JessnasText {
    font-size: 24px;
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}

.JessnaComicContainer {
    border: 7px solid black;
    padding: 5px;
}
/* Style css changes */

/* Damian's css changes */
.damianProfile {
    width: 260px !important;
    height: 300px !important;
    border-radius: 8px;
}
#smallTextDamian{
    text-align: justify;
    font-size: 15px;
    font-family:cursive;
}
#bodyTextDamian{
    text-align:left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#coolThingsTextDamian{
    font-size: 20px;
    text-align:left;
    font-family:inherit;
    background-color: lightblue;
    padding: 20px;
}
skinnyTextDamian {
    font-style: italic;
    font-weight: 500 !important;
}
.candy{
    width: 100%;
    height: 50px;
    margin:  50 auto;
    background: repeating-linear-gradient(
      45deg,
      rgb(255, 0, 0) 0px,
      rgb(255, 0, 0) 5px,
      black 5px,
      black 10px,
      rgb(0, 155, 0) 10px,
      rgb(0, 155, 0) 15px
    );
}


/* jake's css changes */
.jaContainer {
    min-height: 300px;
    width: 100%;
    background: green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}
.jakeItem1{

}
/* javon's css changes */

/* jessna's css changes */

/*This is Jessna's animation*/
#heart {
  fill: #ff75c0;
  position: relative;
  top: 45%;
  width: 50px;
  animation: heartbeat 1.5s ease infinite;
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  40% { transform: scale(1.3); fill: #00bfff;}
  50% { transform: scale(1); fill: #ff4eae;}
  60% { transform: scale(1.3); fill: #00bfff;}
  100% { transform: scale(1); }
}
/*This one doesn't count vvv*/
#Jessnas.card {
    background: linear-gradient(270deg, #eeb62c, #2ceee7, #d32cee);
    background-size: 600% 600%;

    -webkit-animation: JessnasCard 9s ease infinite;
    -moz-animation: JessnasCard 9s ease infinite;
    animation: JessnasCard 9s ease infinite;
    color: white;
}

@-webkit-keyframes JessnasCard {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes JessnasCard {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes JessnasCard {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
